@define-color background #000;
@define-color primary #ffa500;

* {
  font-family: monospace;
}

window#waybar {
  background: @background;
  border-bottom: 1px solid @primary;
}

#workspaces button {
  border: none;
  border-radius: 0;
  padding: 2px 8px;
  color: @primary;
}

#workspaces button.focused {
  background-color: @primary;
  color: @background;
  font-weight: bold;
}

#clock,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#bluetooth {
  padding: 0 16px;
  color: @primary;
}

tooltip {
  margin-top: 0;
  border-radius: 0px;
  background: @background;
  border: 1px solid @primary;
  border-top: none;
}

tooltip label {
  color: @primary;
}
