@define-color background #000;
@define-color primary #ff8c00;

* {
  font-family: "JetBrainsMono NFM";
  font-weight: bold;
}

window#waybar {
  background-color: alpha(@background, 0.99);
  border-bottom: 2px solid @primary;
}

#workspaces button {
  border: none;
  border-radius: 0;
  padding: 0px 8px;
  color: @primary;
}

#workspaces button.focused {
  background-color: @primary;
  color: @background;
  font-weight: bold;
}

#custom-wf-recorder,
#clock,
#language,
#pulseaudio,
#backlight,
#battery,
#memory,
#cpu,
#network,
#bluetooth {
  padding: 4px 16px 6px 16px;
  min-width: 24px;
  color: @primary;
}

tooltip {
  margin-top: 0;
  border-radius: 0px;
  background: @background;
  border: 1px solid @primary;
  border-top: none;
}

tooltip label {
  color: @primary;
}

#custom-wf-recorder {
  color: red;
}

#battery.critical {
  color: red;
}
