* {
    font-family: monospace;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
}
#workspaces button {
    border: none;
    border-radius: 0;
    padding: 0 5px;
    color: #eee;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
}

#clock,
#battery,
#network,
#bluetooth {
    padding: 0px 8px;
    margin-left: 4px;
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
    color: #eee;
    background-color: rgba(0, 0, 0, 0.3);
}

